<div class="newpost-page">
  <div class="container">
    <div class = "row" >
      <div class="col mb-5">
        <h3 class = "font-weight-normal mt-5 text-center">予定変更</h3>
      </div>
    </div>
    <div class="col-md-4 offset-md-4">
      <%= form_with(model: @blog, local: true) do |form| %>
        <div class="form_group">
          <span class="input-group-text">距離変更</span>
          <%= form.number_field :distance, class: "form-control" %>
        </div>
        <div class="form_group pt-5 pb-3">
          <span class="input-group-text">トレーニング内容変更</span>
          <%= form.text_area :content, class: "form-control"%>
        </div>
        <div class="input-group">
          <%= form.date_select :start_time, use_two_digit_numbers: true, class: "form-control" %>
        </div>
        <div class="text-center pt-4">
          <%= form.submit "変更", class: "btn btn-success" %>
          <%= link_to '消去', blog_path(@blog.id), method: :delete, data: { confirm: '本当に?' }, class: "btn btn-danger" %>
          <%= link_to '戻る', blogs_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>